__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

.env
.venv/
env/
venv/
ENV/
*.env
*.venv

*.conda
*.yml
*.yaml
.conda/
conda-meta/

.ipynb_checkpoints
*.ipynb

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.chainlit/*
!.chainlit/config.toml
*.log

*.csv
*.tsv
*.parquet
*.xls*
*.json
*.tmp
*.bak

build/
dist/
*.egg-info/

.git/

